<style>@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

</style>* {
    margin: 0;
    padding: 0;
}



h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;

}


h2 {
    text-align: left;
    color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-decoration: underline;
    padding: 10px;



}


a:hover {
    color: deeppink;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: pink;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.destacados {

    color: palevioletred;

}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(70, 35, 10);
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.negrita {
    font-weight: bold;
    color: red;
}

#Cajita {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 0 10px #1c92d2;
}

#Cajita {
    background-color: bisque;
    width: 200px;
    height: 100px;
    padding: 5px;
    box-sizing: content-box;
    margin-top: 20px;
    border-radius: 10%;
    margin-bottom: 30px;
    border: 2px solid black;
}

p {
    font-family: 'Playfair Display', serif;
    color: black;
}


.contenedor {
    background-image: url(./foto\ de\ juliana.jpg);
    height: 100VH;
    background-size: cover;
}

.Contenedor-info {
    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor-dos {
    background: rgb(193, 16, 254);
    background: radial-gradient(circle, rgba(193, 16, 254, 0.671990759578752) 0%, rgba(16, 250, 100, 1) 52%, rgba(0, 212, 255, 1) 100%);

}

.holaparrafo{
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 30px;
    column-count: 3;
    
}